body {
  font-family: sans-serif;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;  
}



form {
  width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

th {
  background-color: #f5f5f5;
}


a.error-link {
  color: #c00;
  text-decoration: none;
}


p {
  text-align: center;
  font-size: 1.5em;
  color: #333;
}

.error-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #c00;
  margin-top: 100px;
}

.error-message {
  margin-top: 20px;
}

.error-link {
  margin-top: 50px;
}